requests~=2.32.3
beautifulsoup4~=4.12.3
neo4j~=5.23.1
langchain~=0.2.14
langchain-community~=0.2.12
langchain-core~=0.2.35
langchain_experimental>=0.0.64
langchain-openai~=0.1.22
py2neo~=2021.2.4
pyaml-env~=1.2.1
python-dotenv~=1.0.1
PyYAML~=6.0.2
spacy~=3.7.5
python-dateutil~=2.9.0.post0
tiktoken~=0.7.0
