requests~=2.32.3
beautifulsoup4~=4.12.3
neo4j
langchain~=0.2.11
langchain-community~=0.2.10
langchain-core~=0.2.9
langchain-openai~=0.1.20
langchain-text-splitters~=0.2.2
py2neo~=2021.2.4
pyaml-env~=1.2.1
python-dotenv~=1.0.1
PyYAML~=6.0.1

openai~=1.37.1
spacy~=3.7.5
setuptools~=72.1.0

python-dateutil~=2.9.0.post0

tiktoken~=0.7.0